*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 786px) {
    .nav_Head{
        height: auto;
      }
      .Profile_img{
       display: none;
      }
      .input_bar{
        margin: 2rem auto;
        width: 80%;
      }
      .form-control{
        border-radius: 20px ;
      }
      .bttn{
          border-radius: 0 20px 20px 0;
      }
      .logo{
        height: 90px;
        width: 90px;
        background-size: cover;
        margin-top: 0px;
        margin-left: 0px;
      }
      .nav_Head{
        height: auto;
        background-image: url("./img//Pink\ and\ Violet\ Simple\ Hot\ Neons\ Gradients\ Creative\ Presentation.png");
        background-size: auto;
      }
      .navlinks{
        font-size: 20px;
        margin: 0 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 2px solid transparent;
        border-radius: 0% / 0%;
        padding: 6px;
        color:  whitesmoke;
        transition: 1s all;
        background: transparent;
      }
      .navlinks:hover{
        font-size: 20px;
        color:  black;
        margin: 0 5px;
        background: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }

      /* Profile */
      .main{
        display: grid;
        width: 100%;
        margin: 10px auto;
        border: 2px solid black;
    }
    .first{
      display: grid;
    }
    .disp{
      display: grid;
    }



    .location{
      margin-left: 10px;
    }


   .avatar_url{
     width: 100%;
   }
  }